/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	margin: 0 auto;
	width: 55%;
}

/* Navigation bar */
.nav-bar {
	padding: 1% 0;
	overflow: hidden;
	position: fixed;
	border-bottom: 2px dashed black;
	width: 55%;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 40%;
}

.logo figure {
	display: flex;
	justify-content: flex-end;
}

.links {
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links a {
	text-decoration: none;
	color: gray;
}

.logo {
	display: flex;
	width: 22%;
	justify-content: space-between;
	align-items: center;
}

.swap-on-hover {
	background: url("../img/logo.png") no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.swap-on-hover p {
	font-size: 400%;
	overflow: hidden;
	color: transparent;
	cursor: default;
}

.swap-on-hover:hover {
	background: url("../img/logo-glow.png") no-repeat;
	transition: opacity 0.5s linear;
}

.nav-items {
	text-align: left;
	padding: 2% 0%;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	background: white;
	transition: 0.3s ease;
}

.nav-items:hover {
	border-top: 4px solid #4eebf2;
	border-bottom: 4px solid #4eebf2;
	padding: 0.75% 0;
}

/* index.html marketing header */

header {
	padding: 15% 0 5% 0;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: center;
}

.text-header-contents {
	margin: 10% 0;
	font-family: 'Bangers', cursive;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
	margin-right: 5%;
	margin-bottom: 15%;
}

.text-header-contents p {
	font-size: 700%;
}

.text-header-contents h1 {
	font-size: 500%;
}

.marketing-header h1 {
	font-size: 130%;
}

.marketing-anchor {
	font-size: 110%;
	background: white;
	text-decoration: none;
	border: 1px solid black;
	width: 35%;
	padding: 1% 5%;
	color:black;
	font-family: 'Times New Roman', Times, serif;
}

.logo-header-contents {
	display: flex;
	align-items: center;
	width: 45%;
	padding: 0 0 0 0;
}

/* .logo-header-img {
	width: 100%;
	height: 100%; 
} */

.services-header {
	display: flex;
	align-items: stretch;
}

.services-header-img {
	max-width: 100%;
	margin: 10% 0 2% 0;
}


/* Content */

/* Three columns of content */
.three-columns {
	display: flex;
	margin-right: 3%;
	flex-direction: column;
}

/* Two columns of content */
.two-columns {
	display: flex;
	flex-direction: column;
	margin-right: 6%;
	margin-bottom: 2%;
}

.top-content {
	display: flex;
	width: 100%;
	margin-bottom: 2%;
	margin-top: 3%;
}

.middle-img {
	display: block;
	margin-left: 0;
	margin-right: auto;
	width: 100%;
}

.bottom-content {
	display: flex;
	width: 100%;
	margin-top: 3%;
	padding: 0 0 5% 0;
	border-bottom: 1px solid black;
}

/* Contact */
.contact {
	margin-top: 3%;
	margin-bottom: 5%;
}

div.footer {
	text-align: center;
	margin: 5% 0 10% 0;
}

.marketing-header {
	margin-bottom: 3%;
}

/* Servies.html content tiles */

.content-tiles {
	border-top: 1.25px solid black;
	border-bottom: 1.25px solid black;
}

.tile-row {
	display: flex;
	justify-content: space-between;
	margin: 3% 0;
}

.col1-tile {
	background: whitesmoke;
	border: 1.25px solid black;
	padding: 2%;
	width: 48.5%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.col1-tile p {
	line-height: 110%;
}

.col2-tile {
	background: whitesmoke;
	border: 1.25px solid black;
	padding: 2%;
	width: 48.5%;
	display: flex;
	flex-direction: column;
}

.col2-tile p {
	line-height: 110%;
}

.small-btn {
	background: white;
	text-decoration: none;
	text-align: center;
	font-size: 75%;
	border: 1px solid black;
	border-radius: 5px;
	width: 37.5%;
	margin: 5% 0 0 0;
	padding: 2.75% 5%;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
}

/* Facts section styles */

.facts {
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
}

.tile-no-padding {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.facts-img {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

.facts-img img {
	max-height: 100%;
	/* TODO: do this elegantly */
	/* Sitting silently
	   Perusing Stack Overflow
	   For helpful div tips */
	width: 97%;
}

ul {
	margin-top: 4%;
	list-style: square;
	list-style-position: inside;
}

li {
	padding: 1%;
}

/* Medium screens */
@media screen and (max-width: 800px) {
    * {
        max-width: 100%;
    }

    .nav-bar {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .logo {
        justify-content: center;
    }

    .logo-header-img {
        display: none;
    }

    .text-header-contents {
        justify-content: center;
    }
}

/* Small screens */
@media screen and (max-width: 500px) {

	/* universal nav bar */
	.nav-bar {
		flex-wrap: wrap;
		position: static;
		overflow: wrap;
        width: 100%;
        border-bottom: none;
    }
    
    .nav-items {
        padding: 2% 0%;
        width: 100%;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }

	.nav-items:hover {
        padding: 2% 2%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
	}

	.logo {
        width: 100%;
        padding: 2.0vh;
	}
	
	.links {
		flex-direction: column;
		width: 100%;
	}
	
	.services-header-img {
		margin-top: 13%;
		width: 100%;
		height: 100%;
	}
	
	.logo img{
		width: 50%;
		height: 50%;
	}

	/* services.html */
	.tile-row{
		flex-direction: column;
		margin-bottom: 5%;
		margin-top: 5%;
	}

	.col1-tile, .col2-tile {
		width: 100%;
		margin-bottom: 5%;
	}

	.col2-tile:last-child {
		margin-bottom: 0;
	}

	.facts {
		flex-direction: column;
		width: 100%;
	}

	.tile-no-padding {
		width: 100%;
	}

	.facts-img {
		margin-top: 5%;
		width: 100%;
		height: 100%;
		justify-content: flex-start;
	}

	/* index.html */

	.double-div {
		flex-direction: column;
	}

	.marketing-anchor {
		font-size: 3.0vw;
		width: 75%;
	}

	.top-content, .bottom-content {
		flex-direction: column;
		margin-bottom: 5%;
		margin-top: 5%;
	}

	.two-columns, .three-columns {
		width: 100%;
		margin-bottom: 5%;
	}

	.text-header-contents {
		font-size: 2.0vw;
	}
}